In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [3]:
# Let's encode categorical variables
#Categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
tele_df[tele_cat].nunique ()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

#Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

In [6]:
#Encode variable names to dataframe 
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [7]:
# Merge encoded columns back into original dataframe  and drop original features
tele_df = tele_df.merge(encode_df, left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat, 1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [9]:
# Remove the loan target from feature s
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no", "Subscribed_yes"]).values

# Split training and test dataset 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the Standard Scaler
X_scaler = scaler.fit(X_train)

# Scale the data 
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Create SVM model 
svm = SVC(kernel = 'linear')

# train the model 
svm.fit(X_train, y_train)

# Evaluate the model 
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test, y_pred): .3f}")

 SVM model accuracy:  0.873

In [11]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer 
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

#Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics 
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

#Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy:{model_accuracy}")

Epoch 1/50
715/715 [==============================] - 1s 648us/step - loss: 0.6139 - accuracy: 0.6646
Epoch 2/50
715/715 [==============================] - 0s 665us/step - loss: 0.3739 - accuracy: 0.8724
Epoch 3/50
715/715 [==============================] - 0s 627us/step - loss: 0.3661 - accuracy: 0.8751
Epoch 4/50
715/715 [==============================] - 0s 619us/step - loss: 0.3656 - accuracy: 0.8752
Epoch 5/50
715/715 [==============================] - 0s 635us/step - loss: 0.3685 - accuracy: 0.8729
Epoch 6/50
715/715 [==============================] - 0s 645us/step - loss: 0.3749 - accuracy: 0.8702
Epoch 7/50
715/715 [==============================] - 0s 661us/step - loss: 0.3731 - accuracy: 0.8711
Epoch 8/50
715/715 [==============================] - 0s 631us/step - loss: 0.3672 - accuracy: 0.8736
Epoch 9/50
715/715 [==============================] - 0s 645us/step - loss: 0.3625 - accuracy: 0.8760
Epoch 10/50
715/715 [==============================] - 0s 650us/step - loss: 0.3698 - accuracy: 0.8716
Epoch 11/50
715/715 [==============================] - 0s 640us/step - loss: 0.3699 - accuracy: 0.8719
Epoch 12/50
715/715 [==============================] - 0s 646us/step - loss: 0.3644 - accuracy: 0.8735
Epoch 13/50
715/715 [==============================] - 0s 632us/step - loss: 0.3595 - accuracy: 0.8770
Epoch 14/50
715/715 [==============================] - 0s 635us/step - loss: 0.3667 - accuracy: 0.8731
Epoch 15/50
715/715 [==============================] - 0s 638us/step - loss: 0.3675 - accuracy: 0.8725
Epoch 16/50
715/715 [==============================] - 0s 635us/step - loss: 0.3609 - accuracy: 0.8759
Epoch 17/50
715/715 [==============================] - 0s 646us/step - loss: 0.3645 - accuracy: 0.8742
Epoch 18/50
715/715 [==============================] - 0s 630us/step - loss: 0.3633 - accuracy: 0.8738
Epoch 19/50
715/715 [==============================] - 0s 635us/step - loss: 0.3652 - accuracy: 0.8727
Epoch 20/50
715/715 [==============================] - 0s 641us/step - loss: 0.3643 - accuracy: 0.8742
Epoch 21/50
715/715 [==============================] - 0s 643us/step - loss: 0.3673 - accuracy: 0.8715
Epoch 22/50
715/715 [==============================] - 0s 639us/step - loss: 0.3632 - accuracy: 0.8736
Epoch 23/50
715/715 [==============================] - 0s 658us/step - loss: 0.3636 - accuracy: 0.8745
Epoch 24/50
715/715 [==============================] - 0s 643us/step - loss: 0.3610 - accuracy: 0.8761
Epoch 25/50
715/715 [==============================] - 0s 641us/step - loss: 0.3670 - accuracy: 0.8709
Epoch 26/50
715/715 [==============================] - 0s 631us/step - loss: 0.3664 - accuracy: 0.8734
Epoch 27/50
715/715 [==============================] - 0s 682us/step - loss: 0.3659 - accuracy: 0.8700
Epoch 28/50
715/715 [==============================] - 0s 645us/step - loss: 0.3607 - accuracy: 0.8750
Epoch 29/50
715/715 [==============================] - 0s 634us/step - loss: 0.3565 - accuracy: 0.8773
Epoch 30/50
715/715 [==============================] - 0s 616us/step - loss: 0.3645 - accuracy: 0.8732
Epoch 31/50
715/715 [==============================] - 0s 632us/step - loss: 0.3571 - accuracy: 0.8762
Epoch 32/50
715/715 [==============================] - 0s 650us/step - loss: 0.3646 - accuracy: 0.8723
Epoch 33/50
715/715 [==============================] - 0s 640us/step - loss: 0.3642 - accuracy: 0.8713
Epoch 34/50
715/715 [==============================] - 0s 623us/step - loss: 0.3577 - accuracy: 0.8763
Epoch 35/50
715/715 [==============================] - 0s 629us/step - loss: 0.3694 - accuracy: 0.8699
Epoch 36/50
715/715 [==============================] - 0s 634us/step - loss: 0.3621 - accuracy: 0.8743
Epoch 37/50
715/715 [==============================] - 0s 631us/step - loss: 0.3606 - accuracy: 0.8742
Epoch 38/50
715/715 [==============================] - 0s 653us/step - loss: 0.3612 - accuracy: 0.8738
Epoch 39/50
715/715 [==============================] - 0s 619us/step - loss: 0.3628 - accuracy: 0.8734
Epoch 40/50
715/715 [==============================] - 0s 634us/step - loss: 0.3653 - accuracy: 0.8717
Epoch 41/50
715/715 [==============================] - 0s 634us/step - loss: 0.3702 - accuracy: 0.8699
Epoch 42/50
715/715 [==============================] - 0s 633us/step - loss: 0.3586 - accuracy: 0.8758
Epoch 43/50
715/715 [==============================] - 0s 618us/step - loss: 0.3641 - accuracy: 0.8737
Epoch 44/50
715/715 [==============================] - 0s 636us/step - loss: 0.3558 - accuracy: 0.8758
Epoch 45/50
715/715 [==============================] - 0s 651us/step - loss: 0.3534 - accuracy: 0.8786
Epoch 46/50
715/715 [==============================] - 0s 639us/step - loss: 0.3635 - accuracy: 0.8717
Epoch 47/50
715/715 [==============================] - 0s 638us/step - loss: 0.3542 - accuracy: 0.8766
Epoch 48/50
715/715 [==============================] - 0s 645us/step - loss: 0.3616 - accuracy: 0.8742
Epoch 49/50
715/715 [==============================] - 0s 666us/step - loss: 0.3665 - accuracy: 0.8720
Epoch 50/50
715/715 [==============================] - 0s 669us/step - loss: 0.3558 - accuracy: 0.8764
239/239 - 0s - loss: 0.3694 - accuracy: 0.8735
Loss: 0.3694029748439789, Accuracy:0.8734908103942871